/*
http://demo.pagelines.me/theming/
http://phpxref.pagelines.com/less/icons.less.source.html
http://phpxref.pagelines.com/less/mixins.less.source.html
http://phpxref.pagelines.com/includes/less.functions.php.source.html
*/



span.iconfontshortcodeerrormessage {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	.border-radius(4px);
	padding:3px;
	}



// All icons
	[class^="icon-"],
	[class*=" icon-"] {
		vertical-align: middle; // override theme's default of 'baseline'
	}



/*
*
* Use an icon for bullet points (top level and 1 nested level)
*
*/
/*
.hentry ul {
	list-style-type:none;
	// text-indent: -.75em;

	li:before { // unordered list bullets
		content:"\f00c "; //icon-ok
		font-family: PageLinesFont;
		margin-right: .5em;
		color: rgb(255,99,71); //tomato
		}

	li {
		ul li:before { // 2nd level of unordered list bullets
			content:"\f054 "; //icon-chevron-right
			color: rgb(0,0,128); //navy
			}
		}
}
*/




/*
*
* Links --> coloring for both a and a:hover get overridden by shortcode's color attribute, if used. User could choose to override with child theme or Custom Code if desired.
*
*/
a.iconfont,
a.iconfont:link,
a.iconfont:visited {
	color: @pl-text;
	text-decoration: none;
}
a.iconfont:hover {
	color: @pl-link;
	text-decoration: none;
}

/*
*
* LESS colors -> not supported by 'color' shortcode attribute
*
*/
span.inverse {
	color: @pl-base;
	background: @pl-text;
	}

span.darkbase,
span.dark-base {
	color: @dark-base;
	}
span.lightbase,
span.light-base {
	color: @light-base;
	}
/* could add more */



/*
*
* opacity
*
*/
span.op0,
span.opnone {
	.opacity(0); /* could also use color="transparent" within the shortcode */
	}
span.op25,
span.opsome {
	.opacity(25);
	}
span.op50,
span.ophalf {
	.opacity(50);
	}
span.op75,
span.opmost {
	.opacity(75);
	}

/*
*
* backgrounds
*
*/


/* Rounded corners */
/* NEEDS to be used in conjuction with another background property. */
span.rounded,
span.bgrounded {
	.border-radius(.1em);
	}
span.roundedmore,
span.bgroundedmore {
	.border-radius(.5em);
	}
span.roundedlots,
span.bgroundedlots,
span.roundedalot,
span.bgroundedalot {
	.border-radius(1em);
	}

span.rounded1px,
span.bgrounded1px {
	.border-radius(1px);
	}
span.rounded2px,
span.bgrounded2px {
	.border-radius(2px);
	}
span.rounded5px,
span.bgrounded5px {
	.border-radius(5px);
	}
span.rounded10px,
span.bgrounded10px {
	.border-radius(10px);
	}
span.rounded20px,
span.bgrounded20px {
	.border-radius(20px);
	}
span.rounded30px,
span.bgrounded30px {
	.border-radius(30px);
	}
span.rounded40px,
span.bgrounded40px {
	.border-radius(40px);
	}
span.rounded50px,
span.bgrounded50px {
	.border-radius(50px);
	}



/* Oval */
span.oval,
span.bgoval {
	.border-radius(100%);
	}


/* Circles */
/*
*	NEEDS to be used in conjuction with another background property, otherwise just effectively adds a bit of padding due to the em > 1
*	Works best for non-odd-shaped (icon-money does not look good)
*/
span.circle,
span.circle1half,
span.bgcircle1half,
span.circleonehalf,
span.bgcircleonehalf {
	width:1.5em;
	height:1.5em;
	border-radius: .75em;
	vertical-align: middle;
	text-align: center;
	//font-size:150%;
	line-height: 150%;
	}
span.circlehalf,
span.bgcirclehalf {
	width:.5em;
	height:.5em;
	border-radius: .25em;
	vertical-align: middle;
	text-align: center;
	//font-size:50%;
	line-height: 50%;
	}
span.circle1
span.circle1x,
span.bgcircle
span.bgcircle1,
span.bgcircle1x {
	width:1em;
	height:1em;
	border-radius: .5em;
	vertical-align: middle;
	text-align: center;
	//font-size:100%;
	line-height: 100%;
	}
span.circle2,
span.circle2x,
span.bgcircle2,
span.bgcircle2x {
	width:2em;
	height:2em;
	border-radius: 1em;
	vertical-align: middle;
	text-align: center;
	//font-size:200%;
	line-height: 200%;
	}
span.circle2half,
span.bgcircle2half,
span.circletwohalf,
span.bgcircletwohalf {
	width:2.5em;
	height:2.5em;
	border-radius: 1.25em;
	vertical-align: middle;
	text-align: center;
	//font-size:250%;
	line-height: 250%;
	}
span.circle3,
span.circle3x,
span.bgcircle3,
span.bgcircle3x {
	width:3em;
	height:3em;
	border-radius: 1.5em;
	vertical-align: middle;
	text-align: center;
	//font-size:300%;
	line-height: 300%;
	}
span.circle3half,
span.bgcircle3half,
span.circlethreehalf,
span.bgcirclethreehalf {
	width:3.5em;
	height:3.5em;
	border-radius: 1.75em;
	vertical-align: middle;
	text-align: center;
	//font-size:350%;
	line-height: 350%;
	}
span.circle4,
span.circle4x,
span.bgcircle4,
span.bgcircle4x {
	width:4em;
	height:4em;
	border-radius: 2em;
	vertical-align: middle;
	text-align: center;
	//font-size:400%;
	line-height: 400%;
	}
span.circle4half,
span.bgcircle4half,
span.circlefourhalf,
span.bgcirclefourhalf {
	width:4.5em;
	height:4.5em;
	border-radius: 2.25em;
	vertical-align: middle;
	text-align: center;
	//font-size:450%;
	line-height: 450%;
	}
span.circle5,
span.circle5x,
span.bgcircle5,
span.bgcircle5x {
	width:5em;
	height:5em;
	border-radius: 2.5em;
	vertical-align: middle;
	text-align: center;
	//font-size:500%;
	line-height: 500%;
	}
span.circle5half,
span.bgcircle5half,
span.circlefivehalf,
span.bgcirclefivehalf {
	width:5.5em;
	height:5.5em;
	border-radius: 2.75em;
	vertical-align: middle;
	text-align: center;
	//font-size:550%;
	line-height: 550%;
	}
span.circle6,
span.circle6x,
span.bgcircle6,
span.bgcircle6x {
	width:6em;
	height:6em;
	border-radius: 3em;
	vertical-align: middle;
	text-align: center;
	//font-size:600%;
	line-height: 600%;
	}
span.circle6half,
span.bgcircle6half,
span.circlesixhalf,
span.bgcirclesixhalf {
	width:6.5em;
	height:6.5em;
	border-radius: 3.25em;
	vertical-align: middle;
	text-align: center;
	//font-size:650%;
	line-height: 650%;
	}




span.circle20px,
span.bgcircle20px {
	width:20px;
	height:20px;
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
	//font-size:20px;
	line-height: 20px;
	}
span.circle50px,
span.bgcircle50px {
	width:50px;
	height:50px;
	border-radius: 25px;
	vertical-align: middle;
	text-align: center;
	//font-size:50px;
	line-height: 50px;
	}
span.circle100px,
span.bgcircle100px {
	width:100px;
	height:100px;
	border-radius: 50px;
	vertical-align: middle;
	text-align: center;
	//font-size:100px;
	line-height: 100px;
	}
span.circle150px,
span.bgcircle150px {
	width:150px;
	height:150px;
	border-radius: 75px;
	vertical-align: middle;
	text-align: center;
	//font-size:150px;
	line-height: 150px;
	}
span.circle200px,
span.bgcircle200px {
	width:200px;
	height:200px;
	border-radius: 100px;
	vertical-align: middle;
	text-align: center;
	//font-size:200px;
	line-height: 200px;
	}
span.circle250px,
span.bgcircle250px {
	width:250px;
	height:250px;
	border-radius: 125px;
	vertical-align: middle;
	text-align: center;
	//font-size:250px;
	line-height: 250px;
	}
span.circle300px,
span.bgcircle300px {
	width:300px;
	height:300px;
	border-radius: 150px;
	vertical-align: middle;
	text-align: center;
	//font-size:300px;
	line-height: 300px;
	}
span.circle350px,
span.bgcircle350px {
	width:350px;
	height:350px;
	border-radius: 175px;
	vertical-align: middle;
	text-align: center;
	//font-size:350px;
	line-height: 350px;
	}
span.circle400px,
span.bgcircle400px {
	width:400px;
	height:400px;
	border-radius: 200px;
	vertical-align: middle;
	text-align: center;
	//font-size:400px;
	line-height: 400px;
	}
span.circle450px,
span.bgcircle450px {
	width:450px;
	height:450px;
	border-radius: 225px;
	vertical-align: middle;
	text-align: center;
	//font-size:450px;
	line-height: 450px;
	}
span.circle500px,
span.bgcircle500px {
	width:500px;
	height:500px;
	border-radius: 250px;
	vertical-align: middle;
	text-align: center;
	//font-size:500px;
	line-height: 500px;
	}


/* Colors */
span.bgblack {
	background: rgb(0,0,0);
	}
span.bgwhite {
	background: rgb(255,255,255);
	}
span.bggray,
span.bggrey {
	background: rgb(128,128,128);
	}
span.bglime {
	background: rgb(0,255,0);
	}
span.bgmaroon {
	background: rgb(128,0,0);
	}
span.bgnavy {
	background: rgb(0,0,128);
	}
span.bgaqua {
	background: rgb(0,255,255);
	}
span.bgorange {
	background: rgb(255,165,0);
	}
span.bgdeeppink {
	background: rgb(255,20,147);
	}
span.bgdeepskyblue {
	background: rgb(0,191,255);
	}
span.bgmidnightblue {
	background: rgb(25,25,112);
	}
span.bgslategray,
span.bgslategrey {
	background: rgb(112,128,144);
	}
span.bgsnow {
	background: rgb(255,250,250);
	}
span.bgtomato,
span.bgtomatoe {
	background: rgb(255,99,71);
	}
span.bgwhitesmoke {
	background: rgb(245,245,245);
	}
span.bgyellowgreen {
	background: rgb(154,205,50);
	}



/* Bootstrap's */
span.bghighlight,
span.highlight {
	.highlightMe();
	}


/* could add some of the relative color references */



/* Custom */
@firered: #FF1A0A;
@fireorange: #FF954F;
span.bgfire {
	background: @fireorange;
	#gradient > .vertical(@fireorange,@firered);
	}
	/* red to orange gradient with orange fallback for old browsers */


span.bgrainbow {
	background: -moz-linear-gradient(top, red 0%, orange 18%, yellow 33%, green 48%, blue 65%, indigo 80%, violet 100%);
	background: -ms-linear-gradient(top, red 0%, orange 18%, yellow 33%, green 48%, blue 65%, indigo 80%, violet 100%);
	background: -o-linear-gradient(top, red 0%, orange 18%, yellow 33%, green 48%, blue 65%, indigo 80%, violet 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(red), color-stop(0.18, orange), color-stop(0.33, yellow), color-stop(0.48, green), color-stop(0.65, blue), color-stop(0.8, indigo), to(violet));
	background: -webkit-linear-gradient(top, red 0%, orange 18%, yellow 33%, green 48%, blue 65%, indigo 80%, violet 100%);
	background: linear-gradient(top, red 0%, orange 18%, yellow 33%, green 48%, blue 65%, indigo 80%, violet 100%);
	}
	/* from http://www.impressivewebs.com/css3-linear-gradient-syntax/ */



/*
*
* shadows
*
*/
/* text-shadow syntax --> text-shadow: h-shadow v-shadow blur color; */
span.textinset {
	text-shadow: 0px -1px 0px @baseContrastMore;
	}
span.textinset2 {
	text-shadow: 0px -2px 0px @baseContrastMore;
	}

span.textinsetdark {
	text-shadow: 0px -1px 0px @baseContrastDarkMore;
	}
span.textinsetdark2 {
	text-shadow: 0px -2px 0px @baseContrastDarkMore;
	}



span.textshadow {
	text-shadow: .1em .1em .1em @baseContrastMore;
	}
span.textshadowmore {
	text-shadow: .2em .2em .2em @baseContrastMore;
	}
span.textshadowlots {
	text-shadow: .3em .3em .3em @baseContrastMore;
	}
span.textshadowhuge {
	text-shadow: .5em .5em .5em @baseContrastMore;
	}

span.textshadowdark {
	text-shadow: .1em .1em .1em @baseContrastDarkMore;
	}
span.textshadowdarkmore {
	text-shadow: .2em .2em .2em @baseContrastDarkMore;
	}
span.textshadowdarklots {
	text-shadow: .3em .3em .3em @baseContrastDarkMore;
	}
span.textshadowdarkhuge {
	text-shadow: .5em .5em .5em @baseContrastDarkMore;
	}


/*
*
* outlining --> see http://www.paulund.co.uk/css-text-stroke with demo at http://www.paulund.co.uk/playground/demo/css-properties/text-stroke.php
* notice: only works on webkit browsers
*
*/
span.outline,
span.outline1,
span.outlineone {
	/* for non-webkit -- limited to only 1px per http://css-tricks.com/adding-stroke-to-web-text/ */
	color: @pl-base;
	text-shadow:
		-1px -1px 0 @pl-text,
		1px -1px 0 @pl-text,
		-1px 1px 0 @pl-text,
		1px 1px 0 @pl-text;
	/* rest is for webkit only */
/*
If I use these, it doubles the effect.
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 1px @pl-text;
*/
	}
span.outline2,
span.outlinetwo {
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 2px @pl-text;
	}
span.outline3,
span.outlinethree {
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 3px @pl-text;
	}
span.outline4,
span.outlinefour {
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 4px @pl-text;
	}
span.outline5,
span.outlinefive {
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 5px @pl-text;
	}
span.outline6,
span.outlinesix {
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 6px @pl-text;
	}
span.outline7,
span.outlineseven {
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 7px @pl-text;
	}
span.outline8,
span.outlineeight {
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 8px @pl-text;
	}
span.outline9,
span.outlinenine {
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 9px @pl-text;
	}
span.outline10,
span.outlineten {
	-webkit-text-fill-color: @pl-base;
	-webkit-text-stroke: 10px @pl-text;
	}



/*
*
* rotate --> inspired by http://codepen.io/chriscoyier/pen/BkhFI (linked to from http://css-tricks.com/transitions-and-animations-on-css-generated-content/ )
* At this time, Chrome suffers from aliasing (reported bug, http://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome ).
*/

/* increments of 30 degrees, with positive and negative options */
span.rotate:before,
span.rotate30:before,
span.rotate-330:before {
	.rotate(30deg);
	}
span.rotate60:before,
span.rotate-300:before {
	.rotate(60deg);
	}
span.rotate90:before,
span.rotate-270:before {
	.rotate(90deg);
	}
span.rotate120:before,
span.rotate-240:before {
	.rotate(120deg);
	}
span.rotate150:before,
span.rotate-210:before {
	.rotate(150deg);
	}
span.rotate180:before,
span.rotate-180:before {
	.rotate(180deg);
	}
span.rotate210:before,
span.rotate-150:before {
	.rotate(210deg);
	}
span.rotate240:before,
span.rotate-120:before {
	.rotate(240deg);
	}
span.rotate270:before,
span.rotate-90:before {
	.rotate(270deg);
	}
span.rotate300:before,
span.rotate-60:before {
	.rotate(300deg);
	}
span.rotate330:before,
span.rotate-30:before {
	.rotate(330deg);
	}

/* increments of 45 degrees, non-overlapping with the 30's above */

span.rotate45:before,
span.rotate-315:before {
	.rotate(45deg);
	}
span.rotate135:before,
span.rotate-225:before {
	.rotate(135deg);
	}
span.rotate225:before,
span.rotate-135:before {
	.rotate(225deg);
	}
span.rotate315:before,
span.rotate-45:before {
	.rotate(315deg);
	}